@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body{

    margin: 0;
}
.main-div{
    display: flex;
}
.imgDiv img{
    width: 960px;
    height: 1080px;
}
.login-form{
    margin-top: 362px;
    margin-left: 272px;
    width: 482px;
    height: 427px;
    margin-right: auto;
}
label {

    display: block;
}
.remember{
    min-width: 500px;
    margin-top: 15px;
    display: flex;
}
.wellcome span{
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.welcome1 span{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}
input[type='text']{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    width: 481px;
    height: 46px;
}
input[type = 'password']{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    width: 481px;
    height: 46px;
}
.Login label{
    margin-top: 10px;
    margin-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4A5568;

}
.Password label{
    margin-bottom: 6px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4A5568;
}
.remember-txt{
    margin-left: 3px;
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: black;
}
.forgot-pas{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-left: 235px;
}
input[type = 'checkbox']{
    color: #1565D8;
    width: 17px;
    height: 17px;
    margin: 0;
}
.login-btn{
    margin-top: 30px;
    background: #1565D8;
    font-family: Inter;
    font-size: 16px;
    color: #FFFF;
    font-weight: 500;
    width: 480px;
    height: 64px;
    border-radius: 6px;
}
.no-account{
    margin-left: 60px;
    margin-top: 265px;
}
.no-account label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
}
.no-account a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

